<div>
	<form style="margin-top: 4em; margin-left: 5em;" ng-submit="addStudent()">
		<div class="form-group row">
			<label class="col-md-3">Roll No</label>
			<div class="col-md-5">
				<input type="number" class="form-control" id="inputEmail3" placeholder="Roll No" ng-model="studentInfo.rollNo" required>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-3">Name</label>
			<div class="col-md-5">
				<input type="text" class="form-control" id="inputEmail3" placeholder="Name" ng-model="studentInfo.name" required>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-10 offset-md-2">
				<input type="submit" class="btn btn-primary" style="margin-left: 16em;" value="Save">
			</div>
		</div>
	</form>
	<p class="text-danger">{{error}}</p>
	<table class="table table-bordered" style="margin-top: 2em;">
		<thead>
			<tr>
				<th class="col-md-2">Roll No</th>
				<th class="col-md-5">First Name</th>
				<th class="col-md-1">Remove Student</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="student in students">
				<th>{{student.rollNo}}</th>
				<td>{{student.name}}</td>
				<td ng-click="removeStudent(student)">
					<img src="static/resources/images/delete.png">
				</td>
			</tr>
		</tbody>
	</table>
</div>